{% extends "base.html" %}

{% block title %}This is an example page{% endblock %}



{% block content %}
<meta id="user-posts" data-name="{{posts}}" >
assas {{posts}}
<!-- Despite u can do this, is better AJAX approach... -->
<script> var _post = {{ posts|tojson }}; </script>

<h1>Hello, {{ user }}</h1>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/user.js"></script>
<div class="panel panel-info col-sm-offset-4 col-sm-5">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
 <input type="text" class="form-control"
  placeholder="New Task" aria-describedby="basic-addon2">
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static/js', filename='user.js')}}"></script>
{{super()}}
{% endblock %}
